<button type = "button" routerLink="/home"> < Return back</button>

<h2>Albums list</h2>

<fieldset>
  <input type="text" [(ngModel)]="newPost.title" placeholder="New Album's title"><br/>
  <textarea [(ngModel)]="newPost.body" placeholder="New Album's body"></textarea><br/>
  <button (click)="addPost()">Add album</button>
</fieldset>

<ul *ngIf="loaded">
  <li *ngFor="let post of posts">
    <a routerLink="/posts/{{post.id}}">
      {{post.id}}) {{post.title}}
    </a>
    <button type = "button" (click) = "deletePost(post.id)">Delete album</button>
  </li>
</ul>

<h3 *ngIf="!loaded">Albums are loading...</h3>
