body {
                background-color: rgb(0, 251, 255);
            }
h1 {
                font-style:italic;
            }
            
h2{
                font-family: monospace;
                font-size: 25px;
                margin-left:4px;
                border: solid;
                margin-right:320px;
                
            }
